/* center a div horizontally */
.h-center {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}


/* center both vertically and horizontally the inner div */
.absolute-center-child {
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}


/* buttons, inputs, ... */
button, input, select, textarea {
    font-size: 100%;
}

select, button, [type='submit'], [type='button']  {
    padding:          0.3em;
    border-width:     1px;
    border-style:     solid;
    border-color:     var(--color-button-border);
    border-radius:    4px;
    background-color: var(--color-button);
    font-weight:      bold;
    color:            var(--color-button-text);
}

button {
    transition: border-color 0.25s;
}

button:hover {
    outline:      none;
    border-color: var(--color-button-border-hover);
}

button:focus, button:active {
    outline:      none;
    border-color: var(--color-button-border-hover);
}

input {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: outline-color 0.25s;
    outline-color: transparent;
}

input:focus {
    outline: 1px solid var(--color-border);
}

input.invalid {
    background-color: var(--color-bg-focus);
}


/* Forms (vertical) */
form .form-group {
    margin-bottom: 0.8em;
}

form label {
    display:       block;
    margin-bottom: 0.2em;
}

form input/*, form textarea, form .preview*/  {
    display: block;
    width:   100%;
    padding: 0.2em;
}

form button {
    display: block;
    margin-left:  auto;
    margin-right: auto;
}


/* icons */
.icon:before {
    background-color: var(--color-button-text);
    mask-size: 1rem;
    content: '\2003';
}

.icon-close:before {
    background-color: var(--color-button);
    --icon: url('/xmark-solid.svg') no-repeat;
    -webkit-mask: var(--icon);
    mask: var(--icon);
    mask-position: center;
}
