@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg:                     #F7EFE2;
    --color-bg-focus:               #fff1db;
    --color-text:                   #000000;
    --color-border:                 #F26D21;
    --color-border-focus:           #B44200;
    --color-menu-hover:             #ffd899;

    --color-button:                 var(--color-border);
    --color-button-transparent:     #F26D2140;
    --color-button-text:            var(--color-bg);
    --color-button-border:          var(--color-bg);
    --color-button-border-hover:    var(--color-border-focus);
}

html, body {
    background-color: var(--color-bg);
}

body {
    background: url(/imgs/a-tes-souhaits.svg) top left no-repeat,
                url(/imgs/presents.svg) top right no-repeat,
                url(/imgs/header_middle.png) top left repeat-x;
    min-width:  200px;
    min-height: 150px;
}

#header {
    min-height: 140px;
}

/* Center main content and define its min/max with */
.main-content {
    max-width: 90%;
    width: fit-content;
    margin: 0 auto;
}

.main-content .main {
    min-width: 20rem;
}

/* screen center */
.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Menu colors */
button.menu:hover, button.menu:focus, button.menu:active {
    background-color: var(--color-button-transparent);
}
ul.menu {
    background-color: var(--color-bg-focus);
    border: solid 1px var(--color-border);
}
ul.menu li:hover {
    background-color: var(--color-menu-hover);
}

/* modal */
dialog.modal {
    background-color: var(--color-bg-focus);
    border: solid 1px var(--color-border);
    border-radius:5%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
dialog.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}


/* Forms */
select, button, [type='submit'], [type='button']  {
    border:           1px solid var(--color-button-border);
    border-radius:    4px;
    background-color: var(--color-button);
    font-weight:      bold;
    color:            var(--color-button-text);
}

button {
    padding:     0.3em;
    transition:  border-color 0.25s;
    /* Hack to change unicode char color in chrome */
    color:       transparent;
    text-shadow: 0 0 0 var(--color-button-text);
}

button:hover {
    outline: none;
    border: 1px solid var(--color-button-border-hover);
}

button:focus, button:active {
    outline: none;
    border: 1px solid var(--color-button-border-hover);
}

textarea, input {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: outline-color 0.25s;
    outline-color: transparent;
}

textarea:focus, input:focus {
    outline: 1px solid var(--color-border);
}

input.invalid {
    background-color: var(--color-bg-focus);
}


/* vertical form */
.v-form {
    max-width:    fit-content;
    margin-left:  auto;
    margin-right: auto;
}

.v-form label {
    display:       block;
    margin-bottom: 0.2em;
}

.v-form input {
    display: block;
    width:   100%;
    padding: 0.2em;
}

.v-form .form-group {
    margin-bottom: 0.8em;
}

.v-form button {
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

.v-form .button-group {
    width: fit-content;
    margin-left:  auto;
    margin-right: auto;
}

.v-form .button-group button {
    display: inline;
    margin: 0 0.2rem;
}


/* Alert */
.alert {
    background-color: var(--color-bg-focus);
    border: solid 1px var(--color-border);
    border-radius: 4px;
    padding: 0.5em;
    padding-right: 5em;
    margin-bottom: 1em;
    ddfcolor: var(--color-bg);
    position: relative;
    min-width: 20rem;
}

.alert button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    padding: 0;
    background-color: var(--color-bg-focus);
    text-shadow: 0 0 0 var(--color-border);
    border-color: var(--color-bg-focus);
    outline: none;
}
.alert button:hover {
    text-shadow: 0 0 0 var(--color-border-focus);
}

.fadeout {
    transition: opacity 0.25s linear;
    opacity: 0;
}
